/*
Fonts, using in website:
font-family: 'Roboto', sans-serif;
*/

/*-----------------CSS reset-------------------*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body { margin: 0; border: 0; padding: 0; outline: 0; vertical-align: baseline; background: #FFFFFF; font: 17px/28px 'Roboto', sans-serif; color: #424242; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input, button, textarea { -webkit-appearance: none; outline: none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
ol, ul, li { list-style: none; margin: 0; padding: 0;}
img { max-width: 100%; border: none; outline: none;}
a, a:link, a:visited { color: #0264a9; font-weight: normal; text-decoration: none; outline: none;}
/*----------------- End CSS reset-------------------*/

body { max-width: 1900px; margin: 0 auto; }

header.main_header { background: #242422;}
header.main_header:after { content: ' '; display: block; clear: both; }
header.main_header a.logo { float: left; display: inline-block; margin: 18px 53px 0 13px;}

header.main_header #main_menu { float: left;}
header.main_header #main_menu ul {}
header.main_header #main_menu ul:after { content: ' '; display: block; clear: both;}
header.main_header #main_menu ul li { float: left; display: inline-block; position: relative; height: 97px; margin-right: 35px;}
header.main_header #main_menu ul li a { padding: 38px 12px 39px; color: #E4E4E4; line-height: 97px; text-transform: uppercase; border-left: 1px solid transparent; border-right: 1px solid transparent; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
header.main_header #main_menu ul li a:hover { border-left: 1px solid rgba(255, 255, 255, 0.1); border-right: 1px solid rgba(255, 255, 255, 0.1); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
header.main_header .search_form { float: right; margin: 23px 23px 0 0;}
header.main_header .search_form:after { content: ' '; display: block; clear: both;}
header.main_header .search_form form { float: right; }
header.main_header .search_form input, header.main_header .search_form button { float: left; display: block; height: 56px; border: 1px solid rgba(255, 255, 255, 0.2); background: transparent;}
header.main_header .search_form input { padding: 4px 0 4px 14px; border-right: 1px solid transparent; font: 17px/28px 'Roboto', sans-serif; color: #E4E4E4;}
header.main_header .search_form button { width: 56px; border-left: 1px solid transparent; background: url(../img/button_search.png) center center no-repeat;}

.main .home_article { float: left; display: block; position: relative; width: 50%; line-height: 0; overflow: hidden; padding-top: 40%;}
.main .home_article img {position: absolute; top: 0; -o-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}
.main .home_article h2 { position: absolute; width: 100%; height: 96px; margin: 0; padding-left: 37px; bottom: 0; font-size: 17px; color: #E4E4E4; line-height: 96px; text-transform: uppercase; background: rgba(29, 29, 27, 0.78); -o-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}
.main .home_article .home_meta { position: absolute; bottom: 70px; right: 20px; color: #E4E4E4; -o-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}
.main .home_article:hover img { -webkit-transform: scale(1.2) rotate(5deg); -o-transform: scale(1.2) rotate(5deg); -moz-transform: scale(1.2) rotate(5deg); transform: scale(1.2) rotate(5deg); }
.main .home_article:hover h2,
.main .home_article:hover .home_meta { color: rgba(228, 228, 228, 0.7); -o-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;}